/* Estilos para #filter-container */
#filter-container {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  margin: 1rem 0;
}

#filter-container button, #filter-container select {
  font-family: Roboto;
  font-size: 0.9rem;
  min-height: 1.8rem;
  margin: 0 1rem;
}

/* Estilos para #projects-main-list */
#projects-main-list {
  min-height: 35vh;
}

.api-result-list {
  line-height: 20px;
  font-family: Roboto;
  border-radius: 15px;
  margin: 0.5rem;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  min-height: 8rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
}

.api-result-list h6, .api-result-list p {
  max-width: 80%;
}

.api-result-list p {
  color: #777780;
  font-size: 83%;
}

.category-name, .submit-date {
  font-weight: 700;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container button {
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  background-color: #35b37a;
  font-weight: bold;
  transition: 0.2s ease-out;
  cursor: pointer;
  margin: 0 1rem 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
}

.button-container button:hover {
  background-color: #61d09e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Aumentando a sombra ao passar o mouse */
}

.button-container a {
  color: white;
  text-decoration: none;
}

#projects-main-list .loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 7rem;
}

#projects-main-list .loader .loading-message {
  padding: 1rem;
  text-align: center;
}

/* Estilos para #pagination */
#pagination {
  font-family: Roboto;
  padding: 1rem;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

#pagination button {
  font-size: 0.9rem;
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #35b37a;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  transition: 0.2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
}

#pagination button:hover {
  background-color: #61d09e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Aumentando a sombra ao passar o mouse */
}

#pagination button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Estilos para botões personalizados */
.custom-btn {
  padding: 0.8rem;
  border-radius: 25px;
  border: none;
  background-color: #35b37a;
  color: white;
  font-weight: bold;
  transition: 0.2s ease-out;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adicionando sombra */
}

.custom-btn:hover {
  background-color: #61d09e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Aumentando a sombra ao passar o mouse */
}
